#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.lamp {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e6e6e6;
  line-height: 50px;
  text-align: center;
}

li.green {
  background-color: green;
}

li.red {
  background-color: red;
}

li.yellow {
  background-color: yellow;
}

.count_down {
  display: inline-block;
}